<div id="nav-bar">
      <ul>
            <li>
                  <a [routerLink]="['/home']">Home</a>
            </li>
            <li>
                  <a [routerLink]="['/volunteer']">Volunteer</a>
            </li>
            <li>
                  <a [routerLink]="['/adoption']">Adoption</a>
            </li>
            <li>
                  <a [routerLink]="['/contact']">Contact</a>
            </li>
      </ul>
</div>

<router-outlet></router-outlet>

<div id="newsletter">
      <h2>Sign up for newsletter</h2>
      <input type="text" placeholder="youremail@example.com">
      <button>Subscribe</button>
</div>

<div id="footer">
      <h2>Furever Home</h2>

      <div id="footer-container">
            <div class="footer-item">
                  <h3>Connect with us</h3>
                  <p>180 Montevisto Vista</p>
                  <p>San Jose, CA</p>
                  <br>
                  <p>1220 Grant St,</p>
                  <p>San Lorenzo, CA</p>
                  <br>
                  <p>Main: +123 456 1232</p>
            </div>
            <div class="footer-item">
                  <h3>Adoption Hours</h3>
                  <p>M-F: 12 PM - 5 PM</p>
                  <p>S-S: 10 AM - 5 PM</p>
            </div>
            <div class="footer-item">
                  <h3>Take Action</h3>
                  <ul>
                        <li>
                              <a href="">Adopt a pet</a>
                        </li>
                        <li>
                              <a href="">Volunteer with us</a>
                        </li>
                        <li>
                              <a href="">Become a foster parent</a>
                        </li>
                  </ul>
            </div>
            <div class="footer-item">
                  <h3>Make a donation</h3>

            </div>
      </div>
      <div id="social">
            <a href="www.facebook.com">
                  <img src="../assets/icons/facebook.png" alt="">
            </a>
            <a href="www.facebook.com">
                  <img src="../assets/icons/instagram.png" alt="">
            </a>
            <a href="www.facebook.com">
                  <img src="../assets/icons/tumblr.png" alt="">
            </a>
            <a href="www.facebook.com">
                  <img src="../assets/icons/twitter.png" alt="">
            </a>
      </div>

</div>