<div id="container">
      <div id="pet-snapshot">
            <img src="../../assets/pup_2.png" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
      <div id="pet-snapshot">
            <img src="../../assets/pup_2.png" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
      <div id="pet-snapshot">
            <img src="../../assets/pup_3.jpeg" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
</div>


<div id="footer"></div>