<div id="adoption-info">
      <!-- <p>http://www.haywardanimals.org/adoptions</p> -->
      <div class="expand" (click)="expandInfo(0)"></div>
      <h2>Adoption Info</h2>
      <div class="adoption-drop-down">
            <ul>
                  <li>Adopted animals cannot go home until they are sterilized. Animals are sterilized after adoption on the
                        next available surgery date.</li>
                  <li>For the final adoption to occur, all members of the household, including other dogs (if you are interested
                        in a dog,) will need to meet the potential new addition to your family. </li>
            </ul>
      </div>
      <br>
      <div class="expand" (click)="expandInfo(1)"></div>
      <h2>Dog Adoptions</h2>
      <div class="adoption-drop-down">
            <p>Dog Adoption Fees:</p>
            <p>Male $158.50</p>
            <p>Female $193.50</p>
      </div>
      <br>
      <div class="expand" (click)="expandInfo(2)"></div>
      <h2>Cat Adoptions </h2>
      <div class="adoption-drop-down">
            <p>Cat Adoption Fees:</p>
            <p>Male $158.50</p>
            <p>Female $193.50</p>
      </div>
      <br>
</div>

<div id="container">
      <div id="pet-snapshot">
            <img src="../../assets/pup_2.png" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
      <div id="pet-snapshot">
            <img src="../../assets/pup_4.jpg" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
      <div id="pet-snapshot">
            <img src="../../assets/pup_3.jpeg" alt="">
            <p>Dog</p>
            <h2>Alpha</h2>
            <p>Gender: Male</p>
            <p>Age: 1 year</p>
            <p>Vaccinated: Yes</p>

            <button>More Info</button>
      </div>
</div>


<div id="footer"></div>