@import "~scss/vars";

#adoption-info {
  width: 80%;
  margin: 15px auto;
  // border: 1px solid black;

  h3 {
    margin-bottom: 15px;
  }

  h2 {
    display: inline;
    // border: 1px solid black;
  }

  .adoption-drop-down {
    // border: $test-b;
    display: none;

    li {
      padding-left: 45px;
      list-style-position: inside;
    }

    p {
      padding-left: 45px;
      font-family: $main-font;
    }
  }

  .expand {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    background-image: url("../../assets/expand.png");
    background-size: cover;
    display: inline-block;
  }

  .collapse {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
    background-image: url("../../assets/collapse.jpg");
    background-size: cover;
    display: inline-block;
  }
}

#search-pets {
  text-align: center;
  width: 60%;
  border-radius: 5px;
  height: 110px;
  margin: 20px auto;
  background-color: coral;

  form {
    position: relative;
    top: 30px;
  }

  input {
    // border: $maroon 1px solid;
  }
}

#container {
  // padding: 40px;
  width: 80%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
}

#pet-snapshot {
  justify-self: center;
  border: $border;
  width: 240px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  // margin-right: 38px;

  img {
    width: 100%;
    height: 250px;

    &:hover {
      opacity: 0.5;
    }
  }

  button {
    border: #000 1px solid;
    height: 40px;
    width: 50%;
    color: black;
    font-family: $main-font;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 15px;

    &:hover {
      background-color: $orange;
      color: white;
      border: none;
    }
  }
}
