@import url("https://fonts.googleapis.com/css?family=Lato|Patua+One");

// FONTS
$main-font: "Patua One", cursive;
$secondary-font: "Lato", sans-serif;

// COLORS
$font-color: red;
$background-color: grey;

// BORDERS
$test-b: 1px black solid;
$border: 1px solid #ccc;
