/* You can add global styles to this file, and also import other style files */
@import "./vars";

* {
  padding: 0px;
  margin: 0px;
}

// ------- FONT -------  //
h1,
h2,
li {
  font-family: $main-font;
}

h3,
p {
  font-family: $secondary-font;
}

h1 {
  font-size: 50px;
}

// ------- ELEMENTS ----- //

input {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
}

button {
  height: 50px;
  width: 120px;
  border-radius: 5px;
  font-family: $main-font;
  font-size: 14px;
  border: none;

  &:hover {
    background-color: $orange;
    color: white;
  }
}
