@import "~scss/vars";

#landing {
  height: 91vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/assets/pupcat.jpeg");
  // background-image: url("/assets/pupcat.jpeg");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-bottom: 30px;

  .center-text {
    // border: white 1px solid;
    width: 100%;
    position: absolute;
    // top: 400px;
    bottom: 20px;
  }

  h1,
  h3,
  p {
    color: white;
  }
}

// ----------------- INTRO ----------------- //

#intro {
  // border: $test-b;
  // height: 40vh;
  // padding: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2em;
  background-color: #f3f1f6;
  width: 85%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;

  h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }

  img {
    // width: 90%;
    height: 40vh;
    // border: $test-b;
  }

  h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

// ----------------- SERVICES ----------------- //

#services {
  margin: 30px 0px;
  text-align: center;

  .service-item {
    // border: $test-b;
    text-align: center;
    display: inline-block;
    // width: 30%;
    width: 260px;
    vertical-align: top;
    margin: 10px;
    padding: 15px;
    box-sizing: border-box;

    img {
      height: 80px;
    }

    h2 {
      margin: 15px 0px;
    }
  }
}

// ----------------- PARALLAX ----------------- //

#parallax {
  background-image: url("../../assets/parallax.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;

  #center {
    text-align: center;
    height: 90%;
    position: relative;
    top: 30%;
    color: white;
    width: 60%;
    margin: auto;

    p {
      margin-top: 20px;
      line-height: 25px;
    }
  }
}
