<div id="landing">
  <div class="center-text">
    <h1>logo here</h1>
    <h3>Furever Home Theme</h3>
    <h1>Pet Wellness</h1>
    <p>Web responsive page using Angular, PetFinder API, and GoogleMaps API</p>
    <p>Tech: Angular, SASS, Web Responsiveness, CSS Grid, Parallax</p>
    <p>Image Source: Pexels.com, FlatIcons.com</p>
  </div>
</div>


<div id="intro">
  <div class="grid-item">
    <h1>Professional Care You Can Trust</h1>
    <h3>Lorem ipsum dolor sit</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda magni dolore ea delectus quod adipisci nemo non sint
      exercitationem natus, cumque, nisi consectetur nostrum, facilis maxime perferendis quasi nesciunt commodi!</p>
  </div>
  <div class="grid-item">
    <img src="../../assets/pup_3.jpeg" alt="">
  </div>
</div>


<div id="services">
  <div class="service-item">
    <img src="../../assets/service-1.png" alt="">
    <h2>Full Grooming</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat officiis enim atque amet blanditiis quod! Voluptatibus
      error necessitatibus magni possimus.</p>
  </div>
  <div class="service-item">
    <img src="../../assets/service-2.png" alt="">
    <h2>Regular Examination</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat officiis enim atque amet blanditiis quod! Voluptatibus
      error necessitatibus magni possimus.</p>
  </div>
  <div class="service-item">
    <img src="../../assets/service-3.png" alt="">
    <h2>Styling</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat officiis enim atque amet blanditiis quod! Voluptatibus
      error necessitatibus magni possimus.</p>
  </div>
</div>


<div id="parallax">
  <div id="center">
    <h1>Excellent Medical Pet Care</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit excepturi aperiam alias? Dicta, debitis? Quaerat ea
      quas nemo, architecto quam optio dicta libero molestias modi! Laudantium provident in earum consectetur.</p>
  </div>
</div>